.wrapper {
  width: 100%;
  padding: 100px 40px;

  @include respond-to(tablet) {
    padding: 100px 30px;
  }

  @include respond-to(phone) {
    padding: 100px 20px;
  }

  @include respond-to(phone-sm) {
    padding: 100px 10px;
  }
}

.container {
  display: grid;
  width: 100%;
  max-width: 1400px;
  min-height: 800px;
  margin: -1px auto 0;

  grid-template-columns: 1fr 1fr;
  gap: 200px;

  @include respond-to(desktop) {
    min-height: 600px;
  }

  @include respond-to(tablet) {
    grid-template-columns: 1fr;
    gap: 80px;
  }

  @include respond-to(tablet-sm) {
    gap: 60px;
  }

  @include respond-to(phone) {
    gap: 40px;
  }
}

.text-part {
  width: 100%;
  height: 100%;
  align-self: start;

  @include respond-to(tablet) {
      max-width: 500px;
  }
}

.header {
  width: 100%;
  margin-bottom: 30px;
}

.content {
  height: 100%;
}

.body-text {
  display: block;
  margin-bottom: 50px;

  @include respond-to(tablet-sm) {
    margin-bottom: 30px;
  }
}

.link {
  display: inline-block;
}

.object-part {
  display: flex;
  width: 100%;
  place-self: end end;

  @include respond-to(tablet) {
    max-width: 500px;
  }
}

.reversed-container {
  .text-part {
    @include respond-to(tablet) {
      place-self: end end;
    }
  }

  .object-part {
    @include respond-to(tablet) {
      place-self: start start;
    }
  }
}
