.container {
  display: inline-flex;
  padding: 3px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

  @include respond-to(desktop-xl) {
    padding: 3px 9px;
  }
  @include respond-to(desktop) {
    padding: 3px 8px;
  }
  @include respond-to(tablet) {
    padding: 3px 7px;
  }
  @include respond-to(tablet-sm) {
    padding: 3px 6px;
  }
  @include respond-to(phone) {
    padding: 3px 5px;
    border-radius: 4px;
  }
  @include respond-to(phone-sm) {
    padding: 2px 4px;
    border-radius: 3px;
  }
}
