.container {
  --typography-with-lines-bg: #141a1c;

  background-color: #141a1c;
}

.link {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none !important;
  color: #24a1de;
}

.link-icon {
  display: inline-flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;

  svg {
    display: block;
    width: 100%;
    height: 100%;

    filter: drop-shadow(0 0 0 transparent);
    transition: all 0.3s;
  }
}

.link:hover {
  .link-icon svg {
    filter:
            drop-shadow(0 0 8px #24a1de)
            drop-shadow(0 0 16px #24a1de);

    transform: translate(1px, -1px);
  }
}

.scene {
  position: relative;

  display: flex;

  overflow: visible;
  width: 100%;
  height: 550px;
  justify-content: center;
  align-items: flex-end;

  .portal-outer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;

    height: 300px;
    border-radius: 20px;

    filter: drop-shadow(15px 15px 40px rgb(0 174 239 / 20%));
    transition: all 0.3s;

    @include respond-to(desktop) {
      height: 220px;
    }
  }

  .portal-inner {
    position: absolute;
    inset: 0;
    background: linear-gradient(135deg, #58dbff 0%, #229ed9 100%);
  }

  .card-container {
    position: relative;
    z-index: 1;

    display: flex;

    overflow: hidden;

    width: 100%;
    height: 550px;
    justify-content: center;
    align-items: flex-end;
  }

  .card {
    overflow: hidden;
    width: 320px;
    height: auto;

    transform-origin: 10% 60%;
     will-change: transform;
  }

  .blog-image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 15px;

    @include respond-to(desktop) {
      width: 250px;
      margin: auto;
    }
  }

  &:hover {
    .portal-outer {
      filter: drop-shadow(15px 15px 40px rgb(0 174 239 / 40%));
    }
  }

  @include respond-to(tablet) {
    height: 400px;
  }
}

