.container {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  padding: 0 40px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);

  @include respond-to(desktop) {
    padding: 0 30px;
  }

  @include respond-to(tablet-sm) {
    padding: 0 20px;
  }
  @include respond-to(phone) {
    padding: 0 15px;
  }
  @include respond-to(phone-sm) {
    padding: 0 10px;
  }
}

.hand-written-block {
  position: absolute;
  top: 35%;
  display: flex;
  flex-direction: column;

  .stroke-slot {
    height: 107px;

    .stroke-of-paint {
      margin-top: -70px;

      @include respond-to(tablet) {
        margin-top: -50px;
      }

      @include respond-to(phone-sm) {
        margin-top: -30px;
      }
    }
  }

  @include respond-to(tablet) {
    top: 30%;
  }

  @include respond-to(tablet-sm) {
    top: auto;
    bottom: 65%;
  }

  @include respond-to(phone) {
    bottom: 65%;
  }
}

.hero-avatar {
  margin: auto auto 0;
}

.info-blocks {
  position: absolute;
  top: 30%;
  right: 40px;

  @include respond-to(desktop) {
    top: 30%;
    right: 30px;
  }
  @include respond-to(tablet) {
    top: 32.5%;
    right: 30px;
  }
  @include respond-to(tablet-sm) {
    top: auto;
    bottom: 45%;
  }
  @include respond-to(phone) {
    bottom: 40%;
  }
}



.inspired-by {
  position: absolute;
  right: 10px;
  bottom: 0;

  @include respond-to(tablet-sm) {
    top: 0;
  }
}

.scroll-hint {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}
