.container {
  display: flex;
  margin-bottom: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;

  @include respond-to(desktop) {
    margin-bottom: 100px;
    gap: 40px;
  }
}

.categories {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 60px;

  @include respond-to(desktop) {
    gap: 40px;
  }

  @include respond-to(tablet-sm) {
    flex-direction: column;
    align-items: center;
  }
}

.category {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;

  .links {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include respond-to(desktop) {
      gap: 8px;
    }

    @include respond-to(tablet-sm) {
      align-items: center;
      gap: 5px;
    }
  }

  @include respond-to(desktop) {
    gap: 15px;
  }

  @include respond-to(tablet-sm) {
    align-items: center;
    gap: 10px;
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 5px;

  cursor: pointer;

  .icon {
    svg {
      width: 24px;
      height: 24px;
    }
  }

  &:hover {
    .link-text::after {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }

  @include respond-to(desktop) {
    gap: 4px;
  }
}

.link-text {
  position: relative;
  display: inline-block;

  &::after {
    position: absolute;
    inset: 0;
    color: transparent;

    background: var(--hover-gradient, linear-gradient(90deg, #ff6a00, #f09, #6a5cff));
    background-clip: text;
    transition: clip-path 0.6s cubic-bezier(0.22, 0.61, 0.36, 1);
    pointer-events: none;
    content: attr(data-text);

    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
}

