.container {
  --typography-with-lines-bg: #531d1d;

  background-color: #531d1d;
}

.link {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none !important;
  color: #fb0d1c;
}

.link-icon {
  display: inline-flex;
  width: 24px;
  height: 24px;
  margin-top: -2px;
  justify-content: center;
  align-items: center;

  svg {
    display: block;
    width: 100%;
    height: 100%;

    filter: drop-shadow(0 0 0 transparent);
    transition: all 0.3s;
  }
}

.link:hover {
  .link-icon svg {
    filter:
            drop-shadow(0 0 8px #fb0d1c)
            drop-shadow(0 0 16px #fb0d1c);

    transform: scale(1.1);
  }
}

.scene {
  display: inline;
  width: 100%;
  height: 100%;

  svg {
    width: 100%;
    height: 100%;
  }
}
