.container {
  --typography-with-lines-bg: #111;

  background-color: #111;
}

.link {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none !important;
  color: #1ed760;
}

.link-icon {
  display: inline-flex;
  width: 24px;
  height: 24px;
  margin-top: -2px;
  justify-content: center;
  align-items: center;

  svg {
    display: block;
    width: 100%;
    height: 100%;

    filter: drop-shadow(0 0 0 transparent);
    transition: all 0.3s;
  }
}

.link:hover {
  .link-icon svg {
    filter:
            drop-shadow(0 0 8px #1ed760)
            drop-shadow(0 0 16px #1ed760);

    transform: rotate(20deg);
  }
}

.scene {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  will-change: transform;

  .player {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(25px 15px 30px rgb(30 215 96 / 20%));

    .progress {
      width: calc(100% - 10px);
      margin-bottom: -4px;
    }

    .body {
      display: flex;
      width: 100%;
      padding: 20px 15px;
      justify-content: space-between;
      background: linear-gradient(135deg, #111 0%, #1ed760 100%);
      border-radius: 5px;

      .controls {
        display: flex;
        align-items: center;

        .play-button {
          svg {
            width: 48px;
            height: 48px;
          }
        }
      }
    }
  }
}
