.container {
  width: 100%;
  padding: 40px 40px 0;

  @include respond-to("tablet-sm") {
    padding: 30px 30px 0;
  }

  @include respond-to("phone") {
    padding: 20px 20px 0;
  }

  @include respond-to("phone-sm") {
    padding: 10px 10px 0;
  }
}


.content {
  display: flex;
  padding-bottom: 40px;
  flex-direction: column;
}

.image-wrapper {
  overflow: hidden;

  width: 60%;
  margin-bottom: 40px;
  margin-left: auto;


  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
  }

  @include respond-to("tablet") {
    width: 100%;
  }
}

.info {
  display: flex;
  width: 60%;
  margin-right: auto;
  margin-bottom: 20px;
  flex-direction: column;
  gap: 10px;
}

.links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.link-item {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s;

  &:hover {
    opacity: 70%;
  }

  svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
  }
}

.details {
  display: grid;
  width: 60%;
  margin-right: auto;
  grid-template-columns: 1fr 1fr;
  gap: 40px;

  @include respond-to("tablet") {
    width: 100%;
    grid-template-columns: 1fr;
  }
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include respond-to("desktop") {
    gap: 15px;
  }

  @include respond-to("desktop-sm") {
    gap: 10px;
  }

  @include respond-to("tablet") {
    gap: 5px;
  }
}

.stack-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
