.page {
  .page-title {
    display: block;
    max-width: 450px;
  }

  .content {
    position: relative;
    display: flex;
    min-height: 600px;
    padding-top: 20px;
    gap: 200px;

    &::before {
      position: absolute;
      inset: 0;
      right: 50%;
      z-index: 1;
      background: #fff;
      pointer-events: none;
      content: "";
    }

    .text {
      position: relative;
      z-index: 2;
      display: flex;
      max-width: 700px;
      flex-direction: column;
      align-self: stretch;
    }

    .img {
      position: relative;
      z-index: 0;
      align-self: end;

      img {
        @include respond-to(desktop) {
          max-width: 400px;
        }
      }

      @include respond-to(tablet) {
        display: none;
      }
    }

    @include respond-to(tablet) {
      min-height: 400px;
    }
  }
}

.viewport {
  overflow: hidden;
}

.pagination {
  display: flex;
  padding-top: 30px;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;

  .page-button {
    opacity: 50%;

    transition: all 0.1s ease;
    cursor: pointer;

    &:hover {
      color: #333;
      opacity: 100%;
    }
  }

  .active-page {
    color: #111;
    opacity: 100%;
  }

  @include respond-to(tablet) {
    padding-top: 0;
    padding-bottom: 30px;
  }
}

.disable-pagination {
  pointer-events: none;
}

