.note {
  position: relative;
  width: 125px !important;
  height: 145px !important;
  padding: 40px 24px;
  background-color: #e1b972;
  box-shadow: 4px 8px 16px rgb(0 0 0 / 30%);
  border-radius: 10px;
}

.lines {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.line {
  width: 100%;
  height: 6px;
  background-color: #30302a;
  border-radius: 3px;

  &:nth-child(1) {
    width: 90%;
  }

  &:nth-child(2) {
    width: 95%;
    transform: rotate(-3deg);
  }

  &:nth-child(3) {
    width: 60%;
  }
}

.signature {
  align-self: flex-end;
  width: 40px;
  height: 20px;
  margin-top: 20px;
  border: 2px solid #30302a;
  border-radius: 50%;
  border-top-color: transparent;
  border-right-color: transparent;
  transform: rotate(-15deg);
}
