.card {
  padding: 20px;
  border-radius: 10px;
}

.with-shadow {
  box-shadow:
          0 2px 8px rgb(255 255 255 / 30%),
          0 2px 4px rgb(0 0 0 / 5%),
          8px 8px 16px -4px rgb(0 0 0 / 25%);
}
